<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
     <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
           <launchConfigurationType
            delegate="com.arc.embeddedcdt.launch.nativeos.NativeLaunch"
            public="true"
            name="ARC C/C++ application"
            modes="run,debug"
            id="com.arc.embeddedcdt.idleNative"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer"
            />
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
         <!--
      <launchConfigurationTabGroup
            type="com.arc.embeddedcdt.idleJTAG"
            class="com.arc.embeddedcdt.gui.jtag.JTAGLaunchConfigurationTabGroup"
            id="com.arc.embeddedcdt.TabGroup">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            type="com.arc.embeddedcdt.idleJTAGNative"
            class="com.arc.embeddedcdt.gui.jtag.JTAGLaunchConfigurationTabGroup"
            id="com.arc.embeddedcdt.TabGroup">
      </launchConfigurationTabGroup>
            -->
      <launchConfigurationTabGroup
            type="com.arc.embeddedcdt.idle"
            class="com.arc.embeddedcdt.gui.LaunchConfigurationTabGroup"
            id="com.arc.embeddedcdt.TabGroup">
         <launchMode
               description="ARCApplicationTabGroupDescription.debug"
               mode="debug"
               perspective="org.eclipse.debug.ui.DebugPerspective">
         </launchMode>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            type="com.arc.embeddedcdt.idleNative"
            class="com.arc.embeddedcdt.gui.LaunchConfigurationTabGroup"
            id="com.arc.embeddedcdt.TabGroup">
            <launchMode 
                  mode="debug"
                  perspective="org.eclipse.debug.ui.DebugPerspective"
                  description="ARCApplicationTabGroupDescription.debug">
            </launchMode>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="com.arc.embeddedcdt.gui.RunfLaunchConfigurationTabGroup"
            id="com.arc.embeddedcdt.RunTabGroup"
            type="com.arc.embeddedcdt.idleNative">
         <launchMode
               description="ARCApplicationTabGroupDescription.run"
               mode="run"
               perspective="org.eclipse.debug.ui.DebugPerspective">
         </launchMode>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="com.arc.embeddedcdt.gui.RunfLaunchConfigurationTabGroup"
            id="com.arc.embeddedcdt.RunTabGroup"
            type="com.arc.embeddedcdt.idle">
         <launchMode
               description="ARCApplicationTabGroupDescription.run"
               mode="run"
               perspective="org.eclipse.debug.ui.DebugPerspective">
         </launchMode>
      </launchConfigurationTabGroup>
	</extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/c_app.gif"
            configTypeID="com.arc.embeddedcdt.idle"
            id="com.arc.embeddedcdt.Image">
      </launchConfigurationTypeImage>
      <!--
      <launchConfigurationTypeImage
            icon="icons/c_app.gif"
            configTypeID="com.arc.embeddedcdt.idleJTAG"
            id="com.arc.embeddedcdt.Image">
      </launchConfigurationTypeImage>
      -->
      <launchConfigurationTypeImage
            icon="icons/c_app.gif"
            configTypeID="com.arc.embeddedcdt.idleNative"
            id="com.arc.embeddedcdt.Image">
      </launchConfigurationTypeImage>
   </extension>
   
   <extension
         point="org.eclipse.cdt.debug.core.CDebugger">
      <debugger
            platform="*"
            name="ARC Embedded GDB"
            modes="run"
            cpu="*"
            class="com.arc.embeddedcdt.EmbeddedGDBCDIDebugger"
            id="com.arc.embeddedcdt.EmbeddedCDebugger">
      </debugger>
      <debugger
            class="com.arc.embeddedcdt.EmbeddedGDBCDIDebugger"
            cpu="*"
            id="com.arc.embeddedcdt.RemoteGDBDebugger"
            modes="run"
            name="ARC remote gdb/mi"
            platform="*">
      </debugger>
   </extension>
   <extension
         point="org.eclipse.cdt.debug.ui.CDebuggerPage">
      <debuggerPage
            class="com.arc.embeddedcdt.gui.EmbeddedGDBDebuggerPage"
            debuggerID="com.arc.embeddedcdt.EmbeddedCDebugger"
            id="com.arc.embeddedcdt.gui.EmbeddedGDBDebuggerPage">
      </debuggerPage>
       <debuggerPage
            class="com.arc.embeddedcdt.gui.RemoteGDBDebuggerPage"
            debuggerID="com.arc.embeddedcdt.RemoteGDBDebugger"
            id="com.arc.embeddedcdt.gui.RemoteGDBDebuggerPage">
      </debuggerPage>
   </extension>
   <extension
         point="org.eclipse.cdt.debug.mi.core.commandFactories">
      <commandFactory
            class="org.eclipse.cdt.debug.mi.core.command.factories.StandardCommandFactory"
            debuggerID="com.arc.embeddedcdt.EmbeddedCDebugger"
            id="org.eclipse.cdt.debug.mi.core.standardCommandFactory"
            miVersions="mi,mi1,mi2"
            name="%StandardCommandFactory.name"
            platforms="*"/>
	</extension>
	
   <!-- ARC run/debug -->  
    <extension point="org.eclipse.debug.ui.launchShortcuts">
    <shortcut
           class="com.arc.embeddedcdt.launch.LaunchShortcut"
           icon="icons/c_app.gif"
           id="com.arc.embeddedcdt.launch.LaunchShortcut"
           label="ARC C/C++ Application"
           modes="run, debug">
           <contextualLaunch>
           <enablement>
             <with variable="selection">
              </with>
           </enablement>
           <contextLabel
                  mode="run"
                  label="ARC C/C++ Application"/>
           <contextLabel
                  mode="debug"
                  label="ARC C/C++ Application "/>
           </contextualLaunch>
         <perspective
               id="org.eclipse.cdt.ui.CPerspective">
         </perspective>
         <perspective
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspective>
      </shortcut>
      <configurationType
              id="com.arc.embeddedcdt.idleNative">
       </configurationType>
 </extension>
   
</plugin>

