<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
     <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
           <launchConfigurationType
            delegate="com.arc.embeddedcdt.launch.nativeos.NativeLaunch"
            public="true"
            name="ARC C/C++ application"
            modes="run,debug"
            id="com.arc.embeddedcdt.idleNative"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer"
            />
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
         <!--
      <launchConfigurationTabGroup
            type="com.arc.embeddedcdt.idleJTAG"
            class="com.arc.embeddedcdt.gui.jtag.JTAGLaunchConfigurationTabGroup"
            id="com.arc.embeddedcdt.TabGroup">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            type="com.arc.embeddedcdt.idleJTAGNative"
            class="com.arc.embeddedcdt.gui.jtag.JTAGLaunchConfigurationTabGroup"
            id="com.arc.embeddedcdt.TabGroup">
      </launchConfigurationTabGroup>
            -->
      <launchConfigurationTabGroup
            type="com.arc.embeddedcdt.idle"
            class="com.arc.embeddedcdt.gui.LaunchConfigurationTabGroup"
            id="com.arc.embeddedcdt.TabGroup">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            type="com.arc.embeddedcdt.idleNative"
            class="com.arc.embeddedcdt.gui.LaunchConfigurationTabGroup"
            id="com.arc.embeddedcdt.TabGroup">
      </launchConfigurationTabGroup>
	</extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/c_app.gif"
            configTypeID="com.arc.embeddedcdt.idle"
            id="com.arc.embeddedcdt.Image">
      </launchConfigurationTypeImage>
      <!--
      <launchConfigurationTypeImage
            icon="icons/c_app.gif"
            configTypeID="com.arc.embeddedcdt.idleJTAG"
            id="com.arc.embeddedcdt.Image">
      </launchConfigurationTypeImage>
      -->
      <launchConfigurationTypeImage
            icon="icons/c_app.gif"
            configTypeID="com.arc.embeddedcdt.idleNative"
            id="com.arc.embeddedcdt.Image">
      </launchConfigurationTypeImage>
   </extension>
   
   <extension
         point="org.eclipse.cdt.debug.core.CDebugger">
      <debugger
            platform="*"
            name="ARC Embedded GDB"
            modes="run"
            cpu="*"
            class="com.arc.embeddedcdt.EmbeddedGDBCDIDebugger"
            id="com.arc.embeddedcdt.EmbeddedCDebugger">
      </debugger>
      <debugger
            class="com.arc.embeddedcdt.EmbeddedGDBCDIDebugger"
            cpu="*"
            id="com.arc.embeddedcdt.RemoteGDBDebugger"
            modes="run"
            name="ARC remote gdb/mi"
            platform="*">
      </debugger>
   </extension>
   <extension
         point="org.eclipse.cdt.debug.ui.CDebuggerPage">
      <debuggerPage
            class="com.arc.embeddedcdt.gui.EmbeddedGDBDebuggerPage"
            debuggerID="com.arc.embeddedcdt.EmbeddedCDebugger"
            id="com.arc.embeddedcdt.gui.EmbeddedGDBDebuggerPage">
      </debuggerPage>
       <debuggerPage
            class="com.arc.embeddedcdt.gui.RemoteGDBDebuggerPage"
            debuggerID="com.arc.embeddedcdt.RemoteGDBDebugger"
            id="com.arc.embeddedcdt.gui.RemoteGDBDebuggerPage">
      </debuggerPage>
   </extension>
   <extension
         point="org.eclipse.cdt.debug.mi.core.commandFactories">
      <commandFactory
            class="org.eclipse.cdt.debug.mi.core.command.factories.StandardCommandFactory"
            debuggerID="com.arc.embeddedcdt.EmbeddedCDebugger"
            id="org.eclipse.cdt.debug.mi.core.standardCommandFactory"
            miVersions="mi,mi1,mi2"
            name="%StandardCommandFactory.name"
            platforms="*"/>
	</extension>
	
    <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.arc.embeddedcdt.preferences.PrefInitializer">
      </initializer>
    </extension>
</plugin>

